/* style.css */
#banner{
  text-align: center;
  background-image: url("images/banner/386009.jpg");
  background-position: 0px -100px;
  background-size: cover;
  padding: 350px;
  color: white;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 100px;
}
#banner h1 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner p {
  color: white;
  opacity: 0.7;
  font-size: 30px;
  font-weight: lighter;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner a {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 0px;
}
#footer{
  padding: 0px;
  background: #D9CBCB;
  color: black;
  text-align: center;
}
#footer p {
  padding-top: 10px;
}
#footer a {
  margin-right: 1px;
  color: black;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.btn-ghost {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.btn-ghost:hover {
  opacity: 1;
}
.card{
  border: 2px solid;
  border-color: lightgray;
  border-radius: 5px;
  background-color: #C3ACAC;
  box-shadow: 0 0 16px solid;
  margin: 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  opacity: 0.8;
}
.card:hover {
  opacity: 1;
}
.card-trip {
  border-radius: 1%;
  overflow: hidden;
  background: #BECCDA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  color: #2C4251;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  color: black;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  color: black;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-trip-infos p{
  margin-top: 10px;
}
body{
  background: #D9CBCB;
  color: green;
  font-size: 20px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #4C191B;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}